@charset "utf-8";

.articleContent {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.articleImg {
  border-top: 2px #ccc solid;
  padding-top: 10px;
}

.articleImg img {
  width: 880px;
  max-height: 800px;
  object-fit: cover;
}

.articleTextContent {
  border-bottom: 2px #ccc solid;
  margin: 10px 0;
  padding-bottom: 10px;
  width: 880px;
}

.articleDateInfo {
  font-size: 14px;
}
