@charset "utf-8";

body::-webkit-scrollbar {
  display: none;
}
/* article card */
.cardContent {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.cardImg img {
  width: 100%;
  min-width: 200px;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.cardInfo {
  font-size: 18px;
  margin-right: 20px;
}

.blogName {
  font-weight: normal;
}

.articleTitle {
  font-size: 24px;
  font-weight: bolder;
}

.articleSubtitle {
  font-weight: bold;
}

.articleText {
  margin: 15px 0;
  text-align: justify;
}

.tags,
.timeInfo {
  font-size: 14px;
}

/* feed */

.feedBody {
  display: flex;
}

.articlesList {
  overflow: hidden;
  margin-top: 60px;
  margin-left: 120px;
}

.articlesList::-webkit-scrollbar {
  display: none;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 7px;
  z-index: 1000;
}

.logo {
  justify-self: flex-start;
  font-size: 24px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

/* create article */
.createArticleForm {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createArticleForm > * {
  margin: 5px;
}

.articleTextInput {
  width: 860px;
  height: 400px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.articleTitleInput,
.articleImgSrcInput,
.articleTagsInput {
  width: 860px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.articleTitleInput input:focus {
  outline-color: #000;
}

.infoMessage {
  display: flex;
  flex-direction: column;
  width: 860px;
  font-size: 18px;
  color: red;
}

.articlePublishButton {
  display: flex;
  flex-direction: column;
  width: 860px;
}

.articlePublishButton button {
  font-size: 18px;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.articlePublishButton button:hover {
  cursor: pointer;
  background-color: #fff;
}

/* HEADER*/

.headerButtons {
  margin: 0 10px;
}

.headerButtons a {
  color: #000;
  text-decoration: none;
}

/*filters*/
.filters {
  width: 500px;
  margin: 70px 60px 0 60px;
}

.filters_header {
  font-size: 20px;
}

.filter_list {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}
