@charset "utf-8";

body::-webkit-scrollbar {
  display: none;
}
/* article card */
.cardContent {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.cardImg img {
  width: 100%;
  min-width: 200px;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.cardInfo {
  font-size: 18px;
  margin-right: 20px;
}

.blogName {
  font-weight: normal;
}

.articleTitle {
  font-size: 24px;
  font-weight: bolder;
}

.articleSubtitle {
  font-weight: bold;
}

.articleText {
  margin: 15px 0;
  text-align: justify;
}

.tags,
.timeInfo {
  font-size: 14px;
}

/* feed */

.articlesList {
  overflow: hidden;
  margin-top: 60px;
  margin-left: 120px;
}

.articlesList::-webkit-scrollbar {
  display: none;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 7px;
  z-index: 1000;
}

.logo {
  justify-self: flex-start;
  color: #fff;
  font-size: 24px;
}

.headerButtons {
  margin: 0 10px;
}
